* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/*네비바--------*/
.top_nav {
    width: 142px;
    height: 126px;
    background-image: url(../../image/logo.png);
    background-repeat: no-repeat;
    margin: 20px auto;
}
.navbar-toggler {
    margin-left: 90%;
}
.test {
    background-color: gray;
    height: 100px;
    border-radius: 1rem;
}
.test2 {
    background-color: gray;
    height: 50px;
}
.nav_con {
    background-color: #ffb619c2;
    margin-left: auto;
    margin-right: auto;
}
#navbar_box {
    padding: 0px;
}
.navbarBox {
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
    display: flex;  
}
.nav-item > a {
    color: black;
    font-size: 21px;
    border-radius: 1rem;
}
.nav-item > a:hover {
    color: white;
    background-color: black;
    font-size: 21px;
}
@media (min-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav_phoneNumber {
        display: none;
    }
}
@media (max-width: 991px) {
    .nav-item {
        margin-top: 20px;
    }
}

/*네비바 영역-----------*/

/*섹션 1-----------------*/
.section1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.section1Title {
    font-weight: 700;
    font-size: 24px;
}
.section1Text {
    font-size: 18px;
}
.section1line {
    width: 100px;
    border-bottom: 2px solid gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.section1Box {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.section1BoxContent {
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.section1BoxContentImg > img:hover {
    filter: contrast(50%);
    transition: 0.5s;
}

/*섹션 3-----------------*/

/*무빙 버튼*/
.moving {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}
.카카오톡 {
    width: 100px;
    height: 100px;
}
/*무빙 버튼*/

/*footer 영역*/
footer {
    background-color: #e4e4e4;
}
.footerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 14px;
}
.footerBoxTitle {
    color: #494949;
    width: 300px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.footerBox > div {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.footerText {
    width: fit-content;
    margin-top: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/*footer 영역*/