* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    min-height: 100px;
}
#top_logo {
    margin-left: 5%;
}
.top-margin {
    margin-right: 1%;
}
@media (max-width : 991px) {
    .nav-item {
        margin-left: 10px;
    }
}
#navbar {
    background-color: #ffb619c2;
    border-bottom: 4px solid #332505c2;
}
.nav-link {
    font-size: 24px;
    color: white;
}
.nav-item {
    margin-right: 10px;
}
.nav-link:hover {
    color: #cf5c5c;
}
.black {
    color: #222222;
}
.black:hover {
    color: #cf5c5c;
}
.navbarBW {
    background-color: white;  
}
.dropdown-item:hover {
    color: #cf5c5c;
}
.navbar-toggler-icon {
    background-color: aliceblue;
}
.navTitle {
    text-align: center;
}
.navTitleText {
    font-weight: 700;
    margin-top: 10px;
    font-size: 16px;
}
/*섹션 1-----------------*/
.section1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.section1Title1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}
.section1Title2 {
    font-size: 20px;
    margin-bottom: 50px;
}
.section1Img {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
/*섹션 1-----------------*/

/*섹션 2-----------------*/
.section2Item {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
}
.section2ItemTitle {
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
}
.section2ItemText {
    font-size: 20px;
    margin-top: 10px;
}
.section2ImgBox {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
@media (max-width: 1000px) {
    .section2ImgBox {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    .section2ImgBox > img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.Reverse {
    text-align: right;
}
/*섹션 2-----------------*/


/*무빙 버튼*/
.moving {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}
.카카오톡 {
    width: 100px;
    height: 100px;
}
/*무빙 버튼*/

/*footer 영역*/
footer {
    background-color: #e4e4e4;
}
.footerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 14px;
}
.footerBoxTitle {
    color: #494949;
    width: 300px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.footerBox > div {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.footerText {
    width: fit-content;
    margin-top: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/*footer 영역*/