* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/*네비바--------*/
.top_nav {
    text-align: center;
    padding-bottom: 20px;
}
.navbar-toggler {
    margin-left: 90%;
}
.test {
    background-color: gray;
    height: 100px;
    border-radius: 1rem;
}
.test2 {
    background-color: gray;
    height: 50px;
}
.nav_con {
    background-color: #ffb619c2;
    margin-left: auto;
    margin-right: auto;
}
#navbar_box {
    padding: 0px;
}
.navbarBox {
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
    display: flex;  
}
.nav-item {
    width: 250px;
    text-align: center;
}
.nav-item > a {
    color: black;
    font-size: 21px;
    border-radius: 1rem;
}
.nav-item > a:hover {
    color: white;
    background-color: black;
    font-size: 21px;
}
.dropdown-menu {
    width: 250px;
    text-align: center;
}
@media (min-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .nav_phoneNumber {
        display: none;
    }
}
@media (max-width: 991px) {
    .nav-item {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
}

/*네비바 영역-----------*/

/*섹션 1-----------------*/
.section1 {
    z-index: 1;
}
#carouselExampleControls {
    position: relative;
}
.section1Box {
    width: 60%;
    background-color: #cf5c5c;
    z-index: 2;
    position: relative;
    top: calc(-50%)
}
.crouselFl {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 20%;
    text-align: center;
}
.test2 {
    height: 100px;
    border-radius: 1rem;
    background-color: gray;
}
.형광펜 {
    background: linear-gradient(to top, rgba(59, 59, 59, 0.658) 50%,rgba(59, 59, 59, 0.658) 50%);
    width: fit-content;
}
.section1Title {
    width: 100%;
    font-size: 64px;
    color: white;
}
.section1Title2 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 25px;
    color: white;
}
@media (max-width: 1600px) {
    .section1Title {
        font-size: 48px;
    }
    .section1Title2 {
        font-size: 24px;
    }
}
@media (max-width: 1200px) {
    .section1Title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .section1Title2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
}
@media (max-width: 810px) {
    .section1Title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .section1Title2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
}
@media (max-width: 500px) {
    .test {
        top: 20px;
    }
    .section1Title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .section1Title2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
}
/*섹션 1-----------------*/

/*섹션 1_1-----------------*/
.section1_1 {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #f8f8f8;
}
.section1_1Title {
    font-weight: 700;
    font-size: 24px;
}
.section1_1Text {
    font-size: 18px;
}
.section1_1TextMain {
    font-size: 18px;
    margin-top: 20px;
}
/*섹션 1_1-----------------*/

/*섹션 2-----------------*/
.section2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section2Box {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.section2BoxContent {
    width: 350px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 2px solid rgba(128, 128, 128, 0.377);
}
.section2BoxContent:hover {
    color: black;
    background-color: #f3eddec2;
}
@media (max-width: 1300px) {
    .section2BoxContent {
        margin-top: 25px;
    }
}
.section2BoxContentText {
    margin-right: 20px; 
}
.section2BoxContentTextTitle {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 63, 63);
}
.section2BoxContentTextTitle2 {
    font-size: 20px;
    font-weight: 700;
}
.section2BoxContentTextTitle3 {
    font-weight: 600;
}
.section2BoxContentTextTitle32 {
    margin-top: 5px;
}
.section2BoxContentIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(105, 105, 105);
}
/*섹션 2-----------------*/

/*섹션 3-----------------*/
.section3 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.section3Title {
    font-weight: 700;
    font-size: 24px;
}
.section3Text {
    font-size: 18px;
}
.section3line {
    width: 100px;
    border-bottom: 2px solid gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.section3Box {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.section3BoxContent {
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.section3BoxContentImg > img:hover {
    filter: contrast(50%);
    transition: 0.5s;
}

/*섹션 3-----------------*/

/*섹션 4-----------------*/
.section4 {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.section4Title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}
.section4Text {
    font-size: 22px;
    margin-bottom: 30px;
}
.section4Img {
    width: 100%;
    max-width: 640px;
    height: 100%;
    min-height: 426px;
}
.section4Button {
    padding: 10px 15px;
    background-color: rgba(196, 196, 196, 0.322);
    border-radius: 10rem;
}
.section4Button:hover {
    color: white;
    background-color: brown;
    transition: 0.5ms;
}
@media (max-width: 1550px) {
    .section4 {
        display: block;
        width: fit-content;
        align-items: center;
    }
}
/*섹션 4-----------------*/


/*무빙 버튼*/
.moving {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}
.카카오톡 {
    width: 70px;
    height: 70px;
}
/*무빙 버튼*/

/*footer 영역*/
footer {
    background-color: #e4e4e4;
}
.footerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 14px;
}
.footerBoxTitle {
    color: #494949;
    width: 300px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.footerBox > div {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.footerText {
    width: fit-content;
    margin-top: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/*footer 영역*/